.plane-class{
  height: 200px;
  line-height: 200px;
  text-align: center;
}
span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.right-side{
  display:inline-block;
  float: right;
  margin-left: auto;
  margin-right: 0;
}
.footer-class{
  display:inline-block;
  margin-top: 4em;
}
.finish{
  font-weight: bold;
  font-size: large;
}
.start-label{
  font-weight: bold;
  font-size: large;
}
.plane-class{
  transform: rotate(45deg);
}
.main-div{
  margin-top: 1em;
}
.top-div{
  border-bottom: dashed;
  border-bottom-color: lightgrey;
  border-bottom-width: thin;
  padding-bottom: 2em;
}
.bottom-div{
  margin-top: 2em;
}
